<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataBase" connectionString="data source=192.168.250.25;initial catalog=graduates;persist security info=True;user id=Rupit;password=Grib04ek:;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>